# Neon DB PostgreSQL Connection Strings
# 1. DATABASE_URL: Neon Pooled Connection String (Used for Next.js App / Serverless queries)
DATABASE_URL="postgresql://alex:AbCd1234efgh@ep-cool-darkness-123456-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"

# 2. DIRECT_URL: Neon Direct Connection String (Used for Prisma db push / migrations)
DIRECT_URL="postgresql://alex:AbCd1234efgh@ep-cool-darkness-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"

# NextAuth Configuration
NEXTAUTH_URL="http://localhost:3000" # Production'da https://sizin-domaininiz.vercel.app yapın
NEXTAUTH_SECRET="devlonca-super-secret-key-change-in-production-12345"

# Optional GitHub OAuth Credentials
GITHUB_ID=""
GITHUB_SECRET=""
